body {
  background-color: lightblue;
  font-size: 150%;
  }
  
.myClass {
  background-color: gray;
  color: blue
  }
    
.dogclass {
  background-color: blue;
  font-family: verdana;
  cursor: pointer;
  }
    
#scarletsclass {
  color: purple;
}