    body {
      background-color: lightblue;
      font-size: 150%;
    }
  
    .myClass {
      background-color: gray;
      color: blue
    }
    
    .dogclass {
      background-color: blue;
      cursor: pointer;
      
    }
    